@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root{
     /*Colores */
    
    --principal-color: #ffffff;
    --secondary-color: #41ccc0;
    --tertiary-color : #000000;
    --fourth-color   : #192423;
    --five-color     : #f13e3e;

    /*Fuentes */
    --fuente-krona : "Krona One", sans-serif;
    --fuente-mediana : 2rem;
    --fuente-grande  : 4rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

body{
    font-family: var(--fuente-krona);
}

header{
    position: sticky;
    top: 0;
}



