body {
  background: var(--bg-principal-color);  
  background: -webkit-linear-gradient(to right, var(--bg-secondary-color), var(--bg-principal-color));  
  background: linear-gradient(to right, var(--bg-secondary-color), var(--bg-principal-color)); 
  
}

header{
    z-index: 2000;
}

/* Contiene a las listas del menú de navegación */
.nav__contenedor {
    display: flex;
    position: absolute;
    padding-top: 3rem;
    top: -1000px;
    left: 0;
    right: 0;
    flex-direction: column;
    transition: all 1s ease;
    background-color: var(--secondary-color);
}

.nav__contenedor.open {
    top: 0;
}

/* Contiene a los enlaces */
.nav__lista {
    padding: 0.7rem;
    gap: 1rem;
    display: flex; 
}

.nav__lista {
    position: relative; 
}

/*Enlaces de navegación */
.nav__lista a {
    transition: color 0.5s ease;  
    color: var(--tertiary-color);
    text-decoration: none; 
}

.nav__lista a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; 
    height: 2px; 
    background: var(--secondary-color); 
    transform: scaleX(0);
    transition: transform 0.7s ease; /
}

.nav__lista a:hover::after {
    transform: scaleX(1);
}




/* Contiene el icono del menú */
.nav div {
    position: absolute;
    right: 0;
}

/* Menú del icono */
#menu-icon {
    padding-right: 1rem;
    font-size: var(--fuente-mediana);
    cursor: pointer;
    color: var(--principal-color);
}

/* Redes */
.social-icon {
    font-size: var(--fuente-mediana);
}


/*Contenedor curriculum */

.curriculum__contenedor{
  position: fixed;
  top: 0;
  margin: 1rem 0rem 0rem 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  transform: scale(1.0);
  
  z-index: 2000;
}

.curriculum__icono{
  width: inherit;
  color: var(--principal-color);
  height: auto;
  cursor: pointer;
  transition: all 0.5s;
  
}

.curriculum__icono:hover{
  transform: scale(1.2);
}


.curriculum__mensaje {
  position: absolute;
  left: -1000px; 
  top: 0; 
  color: var(--principal-color);
  transition: all 1s;
  white-space: nowrap; 
}

.curriculum__contenedor:hover .curriculum__mensaje {
  left: 50px;
}




/* Sección Sobre mí */
.datos__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
    text-align: start;
    color: var(--principal-color);
    line-height: 1.5rem;
}

.datos__informacion {
    order: 2;
}

.datos__titulo {
    margin-bottom: 0.7rem;
    text-align: center;
}

.datos__descripcion {
    margin-bottom: 1rem;
}

.datos__titulo span {
    color: var(--secondary-color);
}

.datos__tecnologias {
    text-align: center;
    margin: 1rem 1rem;
}

.datos__tecnologias--logos {
    text-align: center;
}

.datos__tecnologias--logos img {
    width: 3rem;
    height: 3rem;
}

.perfil__contenedor img {
    width: 100%;
    height: 350px;
}


/*Hobbies */


#hobbies__contenedor{
  display: flex;
  justify-content: center;
}

.hobbies__card img {
  height: 70px;
}

.hobbies__card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--principal-color);
  box-shadow: 0 1px 3px var(--fourth-color), 0 1px 2px var(--fourth-color);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 80px;
  width : 90%;
}

.hobbies__card::before, .hobbies__card::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.hobbies__card::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: var(--bg-principal-color);
}

.hobbies__card::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: var(--bg-secondary-color);
}

.hobbies__card:hover {
  box-shadow: 0 14px 28px var(--fourth-color), 0 10px 10px var(--fourth-color);
}

.hobbies__card:hover span {
  opacity: 0;
  z-index: -3;
}

.hobbies__card:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.hobbies__card:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.hobbies__card span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--principal-color);
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.hobbies__card .hobbies__card-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: var(--principal-color);
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.hobbies__card .hobbies__card-link img {
  text-shadow: 1px 1px var(--secondary-color);
  transform: scale(1);
}

.hobbies__card .hobbies__card-link:hover {
  background-color: var(--secondary-color);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/*Proyectos */


/*Galeria*/
.proyectos__contenedor{
     
    padding: 3rem;
    
}

.proyectos__titulo{
    text-align: center;
    margin-bottom: 3rem;
    color: var(--principal-color);
}

.proyectos__galeria {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.proyectos__card {
    position: relative;
    width: 300px;
    height: 350px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.proyectos__card-img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 0.5; 
    transition: opacity 0.5s, transform 0.5s; 
}

.proyectos__card-img:hover{
    transform: scale(1.1); 
    opacity: 0.9; 
}

.proyectos__card .proyectos__contenido {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: transform 0.5s, bottom 0.5s;
}

.proyectos__card:hover .proyectos__contenido {
    transform: scale(1);
    bottom: 25px;
}
  
  .proyectos__contenido {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  
  
  .proyectos__contenido .proyectos__sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    background-color: var(--fourth-color);
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .proyectos__sci li {
    
    list-style: none;
  }
  
  .proyectos__sci li .fa-brands {
    width: 14px;
  }
  
  .proyectos__sci li .fa-facebook {
    width: 10px;
  }
  
  .proyectos__sci li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.5s;
  }
  
  .proyectos__sci li a:hover {
    fill: currentColor;
    color: rgba(255, 255, 255, 1);
  }

  /* Sección formaciones */
 .formacion__contenedor--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    padding: 5rem;
    color: var(--principal-color);
    text-align: center;
    
}

.formacion__contenedor{
    width: 100%;
    text-align: center;
    color: var(--principal-color);
}


.tooltip-container {
    --background: var(--principal-color);
    --color: #e8e8e8;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 18px;
    font-weight: 600;
    color: var(--color);
    padding: 0.7em 1.8em;
    border-radius: 8px;
    text-transform: uppercase;
    height: 60px;
    width: 350px;
    display: grid;
    place-items: center;
    border: 2px solid var(--color);
  }
  
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform-origin: -100%;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .tooltip-container span:last-child {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--background);
    z-index: -1;
    border: 2px solid var(--background);
    transform: scale(0);
    transform-origin: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: grid;
    place-items: center;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--background);
    z-index: -1;
    border-radius: 8px;
    scale: 0;
    transform-origin: 0 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
  }
  
  .tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    animation: shake 0.5s ease-in-out both;
  }
  
  .tooltip-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    color: var(--secondary-color);
    border-color: transparent;
  }
  
  .tooltip-container:hover span:last-child {
    transform: scale(1);
    left: 0;
  }
  
  .tooltip-container:hover .text {
    opacity: 0;
    top: 0%;
    left: 100%;
    transform: scale(0);
  }
  
  @keyframes shake {
    0% {
      rotate: 0;
    }
  
    25% {
      rotate: 7deg;
    }
  
    50% {
      rotate: -7deg;
    }
  
    75% {
      rotate: 1deg;
    }
  
    100% {
      rotate: 0;
    }
  }
  
  

/* contacto*/


.contacto__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contacto__contenedor h2 {
  text-align: center;
  color: var(--principal-color);
}

.contacto__form {
  display: flex;
  flex-direction: column;
  padding-top : 1rem ;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}


.contacto__informacion {
   padding-top: 1rem;
   
}

.contacto__informacion a{
  color: var(--secondary-color);
}

.contacto__lista__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.contacto__lista {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 15px;
}

.contacto__lista input,
.contacto__lista textarea {
  width: 70%;
  padding: 10px;
  outline: none;
  resize: none;
  border: none;
  background-color: transparent;
  color: var(--principal-color);
  border-bottom: 2px solid var(--secondary-color);
}

.contacto__lista button {
  width: 9rem;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;
  border: none;
}

.contacto__lista button:hover {
  background-color: var(--secondary-color);
}

.error__mensaje {
  color: var(--five-color);
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  width: 70%;
}



/*Footer */

.footer__contenedor{
    padding: 10px 0px 10px 10px;
}

.footer__copy{
    color: var(--principal-color);
}

/* 320px > móviles , 768px > tablets y 1200px > escritorio */
@media (min-width: 768px) {
    .datos__contenedor {
        flex-direction: row;
    }
    .datos__informacion {
        width: 50%;
    }
    .perfil__contenedor {
        order: 2;
    }
    .formacion__contenedor--info{
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    /* Contenedor del menú */
    .nav__contenedor {
        display: flex;
        justify-content: flex-end; 
        padding-top: 0px;
        flex-direction: row;
        align-items: center;
        position: static; 
        top: auto; 
        height: auto; 
        background: transparent; 
    }
    #menu-icon {
        display: none;
    }
    .nav__lista a{
        color: var(--principal-color);
    }

    /* Formaciones */
    
    
   header{
    z-index: 1000;
    transition: all 0.5s ease;
  }

   header.sticky{
    padding: 12px 14%;
    background: var(--secondary-color);
  }

  header.sticky a{
    color: white;
}
}
